
.content ul li {
    padding: 0 3%;
    /*list-style: decimal;*/
}
.content img{
    width: 60%;
    text-align: center;
    margin: 10px 20%;
}
.content .big{
    width: 80%;
    margin: 10px 10%;
}
.content .small{
    width: 40%;
    margin: 10px 30%;
}
.para{
    text-indent: 4%;
}
.center{
    text-align: center;
}